@import '~antd/dist/antd.css';

.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  margin: 16px;
  background: #cfd4ed;
  cursor: pointer;
}

.site-layout .site-layout-background {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
}

.user h1 {
  margin: 0;
}

.site-layout-background-content {
  background: #fff;
}

.sider {
  background: #0d28a6;
}

.sidermenu {
  background: #0d28a6;
  color: #fff;
}
