#addcar {
  background-color: #f1f3ff;
}

.icon {
  background-size: 20px;
  background-origin: content-box, padding-box;
  cursor: pointer;
}

.btn-decision {
  margin-top: 100px;
}

.btn-cancel,
.btn-save {
  padding: 8px 12px;
  border: 2px #0d28a6 solid;
  color: #0d28a6;
  font-weight: 700;
}

.btn-cancel:hover,
.btn-save:hover {
  padding: 8px 12px;
  background: #0d28a6;
  color: white;
  font-weight: 700;
}
.form-body {
  margin-top: 30px;
  background-color: rgb(255, 255, 255);
  padding: 2%;
}

.row {
  padding-bottom: 2%;
}

.footer {
  position: relative;
  bottom: -150px;
}

.form-body p {
  position: absolute;
  top: 308px;
  left: 668px;
  opacity: 70%;
}

.form-body img {
  position: relative;
  top: 0;
  right: 0;
}

.btn-add-car button {
  margin-right: 16px;
}

.btn-custom {
  padding: 8px 12px;
  background: #ffffff;
  border: 1px solid #0d28a6;
  box-sizing: border-box;
  border-radius: 3px;
  color: #0d28a6;
  font-size: 14px;
  font-weight: 700;
  justify-content: end;
}

.btn-custom-save {
  padding: 8px 12px;
  background: #ffffff;
  border: 1px solid #0d28a6;
  box-sizing: border-box;
  border-radius: 3px;
  color: #0d28a6;
  font-size: 14px;
  font-weight: 700;
  justify-content: end;
}

.btn-custom:hover {
  background: #0d28a6;
  color: #ffffff;
  transition: 150ms linear;
}

.btn-custom-save:hover {
  background: #0d28a6;
  color: #ffffff;
  transition: 150ms linear;
}
